In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_rows", 500)
pd.set_option("display.max_columns", 81)

In [2]:
input_file = "../data/Kickstarter.pkl"
df_kickstarter = pd.read_pickle(input_file)

**Show head**

In [4]:
df_kickstarter.head()

,slug,name,blurb,category_lvl1,category_lvl2,country,created_at,deadline,launched_at,usd_goal,usd_pledged,state,state_changed_at,backers_count,user_id,project_url
0,louli-a-lecole,Louli à l’école,Un livre enfant pour l’apprentissage des émoti...,publishing,children's books,FR,2019-06-26 13:14:09,2019-08-25 14:46:37,2019-06-26 14:46:37,684.396336,719.756813,successful,2019-08-25 14:46:37,31,469036700,https://www.kickstarter.com/projects/469036700...
1,strange-wit-an-original-graphic-novel-about-ja...,"Strange Wit, an original graphic novel about J...","The true biography of the historical figure, w...",comics,graphic novels,US,2015-08-05 02:11:53,2015-09-14 04:19:27,2015-08-15 04:19:27,12000.000000,14740.630000,successful,2015-09-14 04:19:28,403,1695121020,https://www.kickstarter.com/projects/katyrex/s...
2,fam-find-a-motive-mobile-app,FAM - FIND A MOTIVE MOBILE APP,FAM is the new mobile app which combines event...,technology,apps,GB,2018-06-07 19:53:22,2018-08-18 15:43:54,2018-06-19 15:43:54,132713.121000,14.598443,failed,2018-08-18 15:43:54,2,67455724,https://www.kickstarter.com/projects/findamoti...
3,destiny-ny-a-graphic-novel,"Destiny, NY - FINAL HOURS!",A graphic novel about two magical ladies in love.,comics,graphic novels,US,2016-09-06 08:33:56,2016-11-03 00:00:00,2016-10-04 07:22:10,20000.000000,21799.000000,successful,2016-11-03 00:00:00,406,248241887,https://www.kickstarter.com/projects/patshand/...
4,publishing-magus-magazine,Publishing Magus Magazine,We are publishing a magazine that focuses on t...,publishing,periodicals,US,2011-07-15 03:55:33,2011-10-04 17:04:28,2011-09-04 17:04:28,5000.000000,10.000000,failed,2011-10-04 17:04:28,1,1345074053,https://www.kickstarter.com/projects/134507405...

**Find the total number of rows and columns with the shape attribute**

In [20]:
df_kickstarter.shape

(1269029, 16)

**Show data types**

In [21]:
df_kickstarter.dtypes

slug                        object
name                        object
blurb                       object
category_lvl1               object
category_lvl2               object
country                     object
created_at          datetime64[ns]
deadline            datetime64[ns]
launched_at         datetime64[ns]
usd_goal                   float64
usd_pledged                float64
state                       object
state_changed_at    datetime64[ns]
backers_count                int64
user_id                     object
project_url                 object
dtype: object

**Show # of missing values per column**

In [22]:
df_kickstarter.isna().sum()

slug                    0
name                    0
blurb                  48
category_lvl1           0
category_lvl2       51339
country                 0
created_at              0
deadline                0
launched_at             0
usd_goal                0
usd_pledged             0
state                   0
state_changed_at        0
backers_count           0
user_id              3466
project_url             0
dtype: int64

In [23]:
df_kickstarter.isna().describe()

,slug,name,blurb,category_lvl1,category_lvl2,country,created_at,deadline,launched_at,usd_goal,usd_pledged,state,state_changed_at,backers_count,user_id,project_url
count,1269029,1269029,1269029,1269029,1269029,1269029,1269029,1269029,1269029,1269029,1269029,1269029,1269029,1269029,1269029,1269029
unique,1,1,2,1,2,1,1,1,1,1,1,1,1,1,2,1
top,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
freq,1269029,1269029,1268981,1269029,1217690,1269029,1269029,1269029,1269029,1269029,1269029,1269029,1269029,1269029,1265563,1269029

**Show only columns with missing values**

In [26]:
null_columns = df_kickstarter.isna().sum()
null_columns[null_columns.gt(0)]

blurb               48
category_lvl2    51339
user_id           3466
dtype: int64

**Calculating percentage of missing values**

In [28]:
null_prop = null_columns[null_columns.gt(0)] / len(df_kickstarter)
null_columns[null_columns.gt(0)] / len(df_kickstarter)

blurb            0.000038
category_lvl2    0.040455
user_id          0.002731
dtype: float64

## Analysis of Categories (lvl1/lvl2)

**Show absolute/relativ value counts**

In [33]:
#lvl1 - absolute value counts
df_kickstarter.category_lvl1.value_counts()

film & video    166097
music           161979
technology      129804
art             125630
publishing      124447
food             98273
games            82587
fashion          74782
comics           54126
design           52022
photography      50405
crafts           45101
theater          43140
journalism       35927
dance            24709
Name: category_lvl1, dtype: int64

In [32]:
#lvl1 - relative value counts
df_kickstarter.category_lvl1.value_counts(normalize=True)

film & video    0.130885
music           0.127640
technology      0.102286
art             0.098997
publishing      0.098065
food            0.077440
games           0.065079
fashion         0.058929
comics          0.042652
design          0.040994
photography     0.039719
crafts          0.035540
theater         0.033994
journalism      0.028311
dance           0.019471
Name: category_lvl1, dtype: float64

In [35]:
#lvl2 - absolute value counts
df_kickstarter.category_lvl2.value_counts()

web                27811
product design     24413
tabletop games     24279
accessories        21831
comic books        21215
                   ...
quilts               662
letterpress          355
chiptune             290
social practice      134
taxidermy            110
Name: category_lvl2, Length: 145, dtype: int64

In [36]:
#lvl2 - relative value counts
df_kickstarter.category_lvl2.value_counts(normalize=True)

web                0.022839
product design     0.020049
tabletop games     0.019939
accessories        0.017928
comic books        0.017422
                     ...
quilts             0.000544
letterpress        0.000292
chiptune           0.000238
social practice    0.000110
taxidermy          0.000090
Name: category_lvl2, Length: 145, dtype: float64

In [17]:
df_kickstarter.groupby(['category_lvl1']).count()

,slug,name,blurb,category_lvl2,country,created_at,deadline,launched_at,usd_goal,usd_pledged,state,state_changed_at,backers_count,user_id,project_url
category_lvl1,,,,,,,,,,,,,,,
art,125630,125630,125612,119514,125630,125630,125630,125630,125630,125630,125630,125630,125630,125314,125630
comics,54126,54126,54126,52097,54126,54126,54126,54126,54126,54126,54126,54126,54126,53932,54126
crafts,45101,45101,45095,37944,45101,45101,45101,45101,45101,45101,45101,45101,45101,45025,45101
dance,24709,24709,24709,16147,24709,24709,24709,24709,24709,24709,24709,24709,24709,24613,24709
design,52022,52022,52022,50768,52022,52022,52022,52022,52022,52022,52022,52022,52022,51928,52022
fashion,74782,74782,74776,73621,74782,74782,74782,74782,74782,74782,74782,74782,74782,74636,74782
film & video,166097,166097,166097,164515,166097,166097,166097,166097,166097,166097,166097,166097,166097,165595,166097
food,98273,98273,98267,95379,98273,98273,98273,98273,98273,98273,98273,98273,98273,98007,98273
games,82587,82587,82587,82021,82587,82587,82587,82587,82587,82587,82587,82587,82587,82306,82587
journalism,35927,35927,35927,31581,35927,35927,35927,35927,35927,35927,35927,35927,35927,35795,35927
music,161979,161979,161979,157122,161979,161979,161979,161979,161979,161979,161979,161979,161979,161260,161979
photography,50405,50405,50405,47141,50405,50405,50405,50405,50405,50405,50405,50405,50405,50350,50405
publishing,124447,124447,124447,122541,124447,124447,124447,124447,124447,124447,124447,124447,124447,124070,124447
technology,129804,129804,129798,127473,129804,129804,129804,129804,129804,129804,129804,129804,129804,129646,129804
theater,43140,43140,43134,39826,43140,43140,43140,43140,43140,43140,43140,43140,43140,43086,43140

In [56]:
df_kickstarter[['category_lvl1','category_lvl2']].groupby(['category_lvl1','category_lvl2']).count()

Empty DataFrame
Columns: []
Index: [(art, ceramics), (art, conceptual art), (art, digital art), (art, illustration), (art, installations), (art, mixed media), (art, painting), (art, performance art), (art, public art), (art, sculpture), (art, social practice), (art, textiles), (art, video art), (comics, anthologies), (comics, comic books), (comics, events), (comics, graphic novels), (comics, webcomics), (crafts, candles), (crafts, crochet), (crafts, diy), (crafts, embroidery), (crafts, glass), (crafts, knitting), (crafts, pottery), (crafts, printing), (crafts, quilts), (crafts, stationery), (crafts, taxidermy), (crafts, weaving), (crafts, woodworking), (dance, performances), (dance, residencies), (dance, spaces), (dance, workshops), (design, architecture), (design, civic design), (design, graphic design), (design, interactive design), (design, product design), (design, typography), (fashion, accessories), (fashion, apparel), (fashion, childrenswear), (fashion, couture), (fashion, footwear), (fashion, jewelry), (fashion, pet fashion), (fashion, ready-to-wear), (film & video, action), (film & video, animation), (film & video, comedy), (film & video, documentary), (film & video, drama), (film & video, experimental), (film & video, family), (film & video, fantasy), (film & video, festivals), (film & video, horror), (film & video, movie theaters), (film & video, music videos), (film & video, narrative film), (film & video, romance), (film & video, science fiction), (film & video, shorts), (film & video, television), (film & video, thrillers), (film & video, webseries), (food, bacon), (food, community gardens), (food, cookbooks), (food, drinks), (food, events), (food, farmer's markets), (food, farms), (food, food trucks), (food, restaurants), (food, small batch), (food, spaces), (food, vegan), (games, gaming hardware), (games, live games), (games, mobile games), (games, playing cards), (games, puzzles), (games, tabletop games), (games, video games), (journalism, audio), (journalism, photo), (journalism, print), (journalism, video), (journalism, web), (music, blues), (music, chiptune), (music, classical music), (music, comedy), (music, country & folk), (music, electronic music), (music, faith), (music, hip-hop), ...]

[155 rows x 0 columns]

In [64]:
df_kickstarter.groupby(['category_lvl1']).describe()

               usd_goal                                                      \
                  count           mean           std       min          25%
category_lvl1
art            125630.0   29806.739584  1.096508e+06  0.010000   600.000000
comics          54126.0    6365.394218  2.061756e+04  0.511428  1000.000000
crafts          45101.0    8779.383529  1.191519e+05  1.000000   500.000000
dance           24709.0    7732.044572  4.250593e+04  5.000000  1800.000000
design          52022.0   59198.885330  1.444507e+06  0.793289  1500.000000
fashion         74782.0   13791.299831  1.802317e+05  0.764666   744.414290
film & video   166097.0  109096.320117  2.251055e+06  0.766114  2000.000000
food            98273.0   47295.036228  9.295961e+05  1.000000  4000.000000
games           82587.0   32250.480083  8.737160e+05  0.761533  1447.703387
journalism      35927.0   78497.842608  2.257801e+06  1.000000  1488.620240
music          161979.0   11208.880936  1.368594e+05  0.643600  1672.043510
photography     50405.0   11835.067056  1.121986e+05  1.000000  1200.000000
publishing     124447.0   12863.232747  2.856212e+05  1.000000  1200.000000
technology     129804.0   72031.533539  1.128264e+06  0.702277  5000.000000
theater         43140.0   32658.901341  6.508377e+05  1.000000  1458.395620

                                                       usd_pledged  \
                        50%           75%          max       count
category_lvl1
art             2100.000000   6000.000000  100000000.0    125630.0
comics          2700.000000   6000.000000    1000000.0     54126.0
crafts          1775.347524   5422.917885   10000000.0     45101.0
dance           3500.000000   6500.000000    2000000.0     24709.0
design          5222.815360  15000.000000  100000000.0     52022.0
fashion         4000.000000  11658.259100   17917507.8     74782.0
film & video    5665.574700  17630.636400  152350076.0    166097.0
food           10000.000000  25000.000000  102344508.0     98273.0
games           5000.000000  15000.000000  100000000.0     82587.0
journalism      5000.000000  13197.498750  100000000.0     35927.0
music           4000.000000   8000.000000   21000000.0    161979.0
photography     4000.000000  10000.000000    7300000.0     50405.0
publishing      3500.000000   8000.000000   25000000.0    124447.0
technology     15000.000000  44749.365500  100000000.0    129804.0
theater         3301.088300   7771.976400   40000000.0     43140.0

                                                                           \
                       mean            std  min          25%          50%
category_lvl1
art             4187.741200   25743.506722  0.0   103.000000   817.000000
comics          9034.325066   24257.830259  0.0  1045.000000  2947.858225
crafts          3042.292861   10668.101436  0.0    25.000000   327.270581
dance           4536.244355    6380.063460  0.0  1050.000000  2888.000000
design         37985.750126  221709.902182  0.0   300.701072  3346.000000
fashion        11854.707246   71027.669859  0.0   226.602258  1474.000000
film & video   10471.951723  113224.613449  0.0   101.000000  1793.000000
food            6660.247010   28546.190763  0.0    20.000000   401.371230
games          31879.955136  188567.212431  0.0   282.379863  3095.093893
journalism      4212.782231   17185.592134  0.0     1.311388   100.000000
music           5228.146857   14162.684490  0.0   246.282260  2220.000000
photography     6603.050971   25675.218228  0.0    31.000000   726.000000
publishing      6927.265810   22215.074649  0.0   305.000000  2152.000000
technology     39217.710524  181459.858193  0.0    58.000000  1637.000000
theater         5027.712282   15210.968778  0.0   453.000000  2000.000000

                                          backers_count              \
                        75%           max         count        mean
category_lvl1
art             3228.309883  1.924018e+06      125630.0   57.563480
comics          7082.000000  6.657259e+05       54126.0  189.566438
crafts          2002.000000  4.547175e+05       45101.0   45.898007
dance           5525.000000  1.460760e+05       24709.0   53.569064
design         19133.000000  1.214344e+07       52022.0  342.437988
fashion         8156.103134  3.948547e+06       74782.0  118.028884
film & video    7632.000000  1.138545e+07      166097.0  109.424210
food            5580.000000  1.927217e+06       98273.0   67.992633
games          13498.843434  8.596475e+06       82587.0  503.149200
journalism      1950.742128  7.064892e+05       35927.0   60.519943
music           6015.090000  1.363037e+06      161979.0   72.314973
photography     5063.000000  7.932668e+05       50405.0   67.112489
publishing      6376.200000  8.661935e+05      124447.0  117.334182
technology     17126.158733  7.850867e+06      129804.0  275.786039
theater         5010.000000  5.474390e+05       43140.0   56.513723


                       std  min   25%   50%    75%       max
category_lvl1
art             260.191623  0.0   3.0  19.0   54.0   22840.0
comics          367.302487  0.0  33.0  82.0  188.0    7199.0
crafts          190.099472  0.0   2.0   9.0   37.0   12705.0
dance            88.586481  0.0  17.0  37.0   67.0    4133.0
design         1311.502158  0.0   8.0  49.0  194.0   38443.0
fashion         499.663011  0.0   6.0  31.0   93.0   21409.0
film & video   1079.362355  0.0   3.0  24.0   76.0   91585.0
food            219.522045  0.0   2.0   8.0   59.0   10308.0
games          2220.290179  0.0   9.0  72.0  305.0   73206.0
journalism      218.441064  0.0   1.0   4.0   32.0    3143.0
music           193.842052  0.0   6.0  36.0   83.0   11169.0
photography     179.953493  0.0   2.0  14.0   64.0    5582.0
publishing      410.783502  0.0   8.0  40.0  107.0   21808.0
technology     1320.625674  0.0   3.0  19.0  134.0  105857.0
theater         230.596217  0.0   9.0  28.0   61.0   11704.0

In [63]:
df_kickstarter.groupby(['category_lvl1']).describe().transpose()

category_lvl1                 art          comics        crafts         dance  \
usd_goal      count  1.256300e+05    54126.000000  4.510100e+04  2.470900e+04
              mean   2.980674e+04     6365.394218  8.779384e+03  7.732045e+03
              std    1.096508e+06    20617.557751  1.191519e+05  4.250593e+04
              min    1.000000e-02        0.511428  1.000000e+00  5.000000e+00
              25%    6.000000e+02     1000.000000  5.000000e+02  1.800000e+03
              50%    2.100000e+03     2700.000000  1.775348e+03  3.500000e+03
              75%    6.000000e+03     6000.000000  5.422918e+03  6.500000e+03
              max    1.000000e+08  1000000.000000  1.000000e+07  2.000000e+06
usd_pledged   count  1.256300e+05    54126.000000  4.510100e+04  2.470900e+04
              mean   4.187741e+03     9034.325066  3.042293e+03  4.536244e+03
              std    2.574351e+04    24257.830259  1.066810e+04  6.380063e+03
              min    0.000000e+00        0.000000  0.000000e+00  0.000000e+00
              25%    1.030000e+02     1045.000000  2.500000e+01  1.050000e+03
              50%    8.170000e+02     2947.858225  3.272706e+02  2.888000e+03
              75%    3.228310e+03     7082.000000  2.002000e+03  5.525000e+03
              max    1.924018e+06   665725.940000  4.547175e+05  1.460760e+05
backers_count count  1.256300e+05    54126.000000  4.510100e+04  2.470900e+04
              mean   5.756348e+01      189.566438  4.589801e+01  5.356906e+01
              std    2.601916e+02      367.302487  1.900995e+02  8.858648e+01
              min    0.000000e+00        0.000000  0.000000e+00  0.000000e+00
              25%    3.000000e+00       33.000000  2.000000e+00  1.700000e+01
              50%    1.900000e+01       82.000000  9.000000e+00  3.700000e+01
              75%    5.400000e+01      188.000000  3.700000e+01  6.700000e+01
              max    2.284000e+04     7199.000000  1.270500e+04  4.133000e+03

category_lvl1              design       fashion  film & video          food  \
usd_goal      count  5.202200e+04  7.478200e+04  1.660970e+05  9.827300e+04
              mean   5.919889e+04  1.379130e+04  1.090963e+05  4.729504e+04
              std    1.444507e+06  1.802317e+05  2.251055e+06  9.295961e+05
              min    7.932894e-01  7.646657e-01  7.661145e-01  1.000000e+00
              25%    1.500000e+03  7.444143e+02  2.000000e+03  4.000000e+03
              50%    5.222815e+03  4.000000e+03  5.665575e+03  1.000000e+04
              75%    1.500000e+04  1.165826e+04  1.763064e+04  2.500000e+04
              max    1.000000e+08  1.791751e+07  1.523501e+08  1.023445e+08
usd_pledged   count  5.202200e+04  7.478200e+04  1.660970e+05  9.827300e+04
              mean   3.798575e+04  1.185471e+04  1.047195e+04  6.660247e+03
              std    2.217099e+05  7.102767e+04  1.132246e+05  2.854619e+04
              min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
              25%    3.007011e+02  2.266023e+02  1.010000e+02  2.000000e+01
              50%    3.346000e+03  1.474000e+03  1.793000e+03  4.013712e+02
              75%    1.913300e+04  8.156103e+03  7.632000e+03  5.580000e+03
              max    1.214344e+07  3.948547e+06  1.138545e+07  1.927217e+06
backers_count count  5.202200e+04  7.478200e+04  1.660970e+05  9.827300e+04
              mean   3.424380e+02  1.180289e+02  1.094242e+02  6.799263e+01
              std    1.311502e+03  4.996630e+02  1.079362e+03  2.195220e+02
              min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
              25%    8.000000e+00  6.000000e+00  3.000000e+00  2.000000e+00
              50%    4.900000e+01  3.100000e+01  2.400000e+01  8.000000e+00
              75%    1.940000e+02  9.300000e+01  7.600000e+01  5.900000e+01
              max    3.844300e+04  2.140900e+04  9.158500e+04  1.030800e+04

category_lvl1               games    journalism         music   photography  \
usd_goal      count  8.258700e+04  3.592700e+04  1.619790e+05  5.040500e+04
              mean   3.225048e+04  7.849784e+04  1.120888e+04  1.183507e+04
              std    8.737160e+05  2.257801e+06  1.368594e+05  1.121986e+05
              min    7.615334e-01  1.000000e+00  6.436000e-01  1.000000e+00
              25%    1.447703e+03  1.488620e+03  1.672044e+03  1.200000e+03
              50%    5.000000e+03  5.000000e+03  4.000000e+03  4.000000e+03
              75%    1.500000e+04  1.319750e+04  8.000000e+03  1.000000e+04
              max    1.000000e+08  1.000000e+08  2.100000e+07  7.300000e+06
usd_pledged   count  8.258700e+04  3.592700e+04  1.619790e+05  5.040500e+04
              mean   3.187996e+04  4.212782e+03  5.228147e+03  6.603051e+03
              std    1.885672e+05  1.718559e+04  1.416268e+04  2.567522e+04
              min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
              25%    2.823799e+02  1.311388e+00  2.462823e+02  3.100000e+01
              50%    3.095094e+03  1.000000e+02  2.220000e+03  7.260000e+02
              75%    1.349884e+04  1.950742e+03  6.015090e+03  5.063000e+03
              max    8.596475e+06  7.064892e+05  1.363037e+06  7.932668e+05
backers_count count  8.258700e+04  3.592700e+04  1.619790e+05  5.040500e+04
              mean   5.031492e+02  6.051994e+01  7.231497e+01  6.711249e+01
              std    2.220290e+03  2.184411e+02  1.938421e+02  1.799535e+02
              min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
              25%    9.000000e+00  1.000000e+00  6.000000e+00  2.000000e+00
              50%    7.200000e+01  4.000000e+00  3.600000e+01  1.400000e+01
              75%    3.050000e+02  3.200000e+01  8.300000e+01  6.400000e+01
              max    7.320600e+04  3.143000e+03  1.116900e+04  5.582000e+03

category_lvl1          publishing    technology       theater
usd_goal      count  1.244470e+05  1.298040e+05  4.314000e+04
              mean   1.286323e+04  7.203153e+04  3.265890e+04
              std    2.856212e+05  1.128264e+06  6.508377e+05
              min    1.000000e+00  7.022768e-01  1.000000e+00
              25%    1.200000e+03  5.000000e+03  1.458396e+03
              50%    3.500000e+03  1.500000e+04  3.301088e+03
              75%    8.000000e+03  4.474937e+04  7.771976e+03
              max    2.500000e+07  1.000000e+08  4.000000e+07
usd_pledged   count  1.244470e+05  1.298040e+05  4.314000e+04
              mean   6.927266e+03  3.921771e+04  5.027712e+03
              std    2.221507e+04  1.814599e+05  1.521097e+04
              min    0.000000e+00  0.000000e+00  0.000000e+00
              25%    3.050000e+02  5.800000e+01  4.530000e+02
              50%    2.152000e+03  1.637000e+03  2.000000e+03
              75%    6.376200e+03  1.712616e+04  5.010000e+03
              max    8.661935e+05  7.850867e+06  5.474390e+05
backers_count count  1.244470e+05  1.298040e+05  4.314000e+04
              mean   1.173342e+02  2.757860e+02  5.651372e+01
              std    4.107835e+02  1.320626e+03  2.305962e+02
              min    0.000000e+00  0.000000e+00  0.000000e+00
              25%    8.000000e+00  3.000000e+00  9.000000e+00
              50%    4.000000e+01  1.900000e+01  2.800000e+01
              75%    1.070000e+02  1.340000e+02  6.100000e+01
              max    2.180800e+04  1.058570e+05  1.170400e+04